<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A JS tip per day!</title>
    <link rel="stylesheet" type="text/css" href="../css/github_1.css">
    <link rel="stylesheet" type="text/css" href="../css/github_2.css">
</head>
</head>
<body>
    <ul>
        <% tips.forEach(function(tip){ %>
            <li><a href="<%= tip.id  + '.html' %>"><%= tip.title %></a></li>
        <% }); %>
    </ul>
    <div id="content-wrap">
        <%- include('content.html') -%>
    </div>
</ul>
</body>
</html>