<head>
    <meta charset="UTF-8">
    <title>jstips - A JS tip per day</title>
    <meta name="keywords" content="jstips,tips,js,javascript,front end">
    <meta name="description" content="Introduces these short and useful daily JavaScript tips that will allow you to improve your code writing. With less than 2 minutes each day, you will be able to read about performance, conventions, hacks, interview questions and all the items that the future of this awesome language holds for us">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scale=no">
    <link rel="stylesheet" type="text/css" href="../css/github_1.css">
    <link rel="stylesheet" type="text/css" href="../css/github_2.css">
    <link rel="stylesheet" type="text/css" href="../js/highlight/styles/github.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>