<html lang="en">
<%- include('head.html') -%>
<body>
    <div class="main-content clearfix">
        <div id="catalog-wrap" class="catalog">
            <div class="catalog-header">
                <h1><a href="https://github.com/loverajoel/jstips">A JS tip per day</a></h1>
            </div>
            <ul>
                <% tips.forEach(function(tip,index){ %>
                    <li><a href="<%= removeExt(tip.filename) %>"
                     title="<%= tip.baseInfo.number + '.' + tip.baseInfo.title %>"><%= tip.baseInfo.number + '.' + tip.baseInfo.title %></a></li>
                <% }); %>
            </ul>
        </div>
    </div>
</body>
</html>