<head>
    <meta charset="UTF-8">
    <title><%= config.seo.title %></title>
    <meta name="keywords" content="<%= config.seo.keywords %>">
    <meta name="description" content="<%= config.seo.description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scale=no">
    <link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../css/all.min.css">
    <script type="text/javascript">
        window.onload = function(){
                document.getElementById('J_languages_select').onchange = function(){
                var lang = this.value;
                window.location.href = window.location.href.replace(/tips\/(\w+)\//,function($,$1){
                    return $.replace($1,lang);
                })
            }
        }
    </script>
</head>