<div id="sider-wrap" class="catalog">
    <div class="catalog-header">
        <h1>
            <a href="https://github.com/loverajoel/jstips">Useful JS Tips</a>
        </h1>
        <select id="J_languages_select">
            <% for(var i in config.languages){ %>
                <option value="<%=i %>" <%=i==lang?"selected=selected":"" %>><%=config.languages[i]%></option>
            <% } %>
        </select>
    </div>
    <ul>
        <% tips.forEach(function(tip,index){ %>
            <li><a href="<%= removeExt(tip.filename) %>" class="<%= index == current ? 'cur' : '' %>"
             title="<%= tip.baseInfo.number + '.' + tip.baseInfo.title %>"><%= tip.baseInfo.number + '.' + tip.baseInfo.title %></a></li>
        <% }); %>
    </ul>
</div>
